@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgba(262,54,12, .75);
  z-index: -2;
}

#circle {
  margin: auto;
	width: 100px;
	height: 100px;
	background: #6F6F6F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position :relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  z-index: 2;
  top: 12%;
}


@keyframes mymove {
    from {left: -10%;}
    to {left: 10%;}
}

.alfa {
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
}
.row-1 {
  /*z-index: 1;
  position: relative;
  text-align: center;*/
}

.row-1 p {
  color: blue;
}
.mont {
  font-family: 'Montserrat', sans-serif;
}

.mont-row-1 {
  /*z-index: 2;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 30%;*/

}

.between {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  top: 130px;
  z-index: 2;
}

/*#alfa {
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
  z-index: 1;
  position: relative;
  text-align: center;
  width: auto;
  height: 400px;
}

#mont {
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  position: relative;
  text-align: center;
  height: 100%;
  margin-top: -300px;
}
